<settings>
    <servers>
        <server>
            <id>codainfra-staging-maven-repos</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>codainfra-staging-maven-repos</id>
            <name>codainfra-staging-maven-repos</name>
            <url>https://codainfra-staging-461837736704.d.codeartifact.eu-central-1.amazonaws.com/maven/maven-repos/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>codainfra-staging-maven-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>codainfra-staging-maven-repos</id>
                    <url>https://codainfra-staging-461837736704.d.codeartifact.eu-central-1.amazonaws.com/maven/maven-repos/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>